{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>Hey, {{ current_user.username }}!</h1>
        <h3>Your current balance is {{ "$%.2f"|format(current_user.balance) }}</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="" method="post">
            {{ username_form.csrf_token }}
            <div class="form-group">
                {{ username_form.username.label(class="form-control-label") }}
                {{ username_form.username(class="form-control form-control-lg") }}

                {% if username_form.username.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in username_form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ username_form.submit }}
            </div>
        </form>
        <form action="" method="post">
            {{ password_form.csrf_token }}
            <div class="form-group">
                {{ password_form.password.label(class="form-control-label") }}
                {{ password_form.password(class="form-control form-control-lg") }}

                {% if password_form.password.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in password_form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ password_form.submit }}
            </div>
        </form>
        <form action="" method="post">
            {{ add_credits_form.csrf_token }}
            <div class="form-group">
                {{ add_credits_form.credit.label(class="form-control-label") }}
                {{ add_credits_form.credit(class="form-control form-control-lg") }}

                {% if add_credits_form.credit.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in add_credits_form.credit.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ add_credits_form.submit }}
            </div>
        </form>
    </div>
</div>
{% endblock %}>