{% extends "header.html" %}
{% block content %}

<div class="row">
    <div class="col">
        <form action="/" class="form-inline my-2 my-lg-0" method="POST">
            <h1>Venmo Clone</h1>
	</form>
    </div>
</div>

<div class="row">
    <div class="col">
	<form action="/" class="form-inline my-2 my-lg-0" method="POST">
	    <h2>Created by Aditya Srinivasan and Ashwath Krishnan</h2>
	</form>
    </div>
</div>
<div class="row">
    <div class="col">
	<form action="/" class="form-inline my-2 my-lg-0" method="POST">
	    <h3>Enjoy the ease of transactions between friends through this 3rd party service!</h3> 
        </form>
    </div>
</div>
{% endblock %}
